<!DOCTYPE html>
<html>
  <head>
    <title>サミットマネージャー</title>

    <%- include('parts/head', {}) %>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>サミットマネージャー</h1>
    <p>だっしゅぼーど</p>
    <a class="nav-link text-white" href="/signout">サインアウト</a>
  </body>
</html>
