<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>サミットマネージャー</title>

		<%- include('parts/head', {}) %>

		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="container">

			<h1>サミットマネージャー</h1>

			<div class="row">
				<div class="col-sm border">
					<div class="row">
						<div class="col">
							<a href="/profile">プロフィール</a>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<a href="/signout">サインアウト</a>
						</div>
					</div>
				</div>
				<div class="col-sm">
					<h2>だっしゅぼーど</h2>
				</div>
			</div>
		</div>
	</body>
</html>
