<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>プロフィール</title>

		<%- include('parts/head', {}) %>

		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="container">

			<h1>プロフィール</h1>

			<div class="container py-1">
				<button class="btn btn-primary" onclick="javascript:window.history.back(-1);return false;">戻る</button>
			</div>
		</div>
	</body>
</html>