<!doctype html>
<html lang="ja">
	<head>
		<%- include('parts/head', {title: 'プログラムオーナー登録'}) %>
	</head>
	<body>
		<%- include('parts/navbar', {}) %>

		<div class="container p-2">

			<h1>プログラムオーナー登録</h1>
		
			<div class="my-3">
				<button type="button" class="btn btn-danger" style="width: 130px;" onclick="window.history.back(-1);return false;">戻る</button>
			</div>
		</div>
	</body>
</html>