<!DOCTYPE html>
<html>
	<head>
		<%- include('parts/head', {title: 'サミットマネージャー'}) %>
	</head>
	<body>
		<div class="container">
			<h1>サミットマネージャー</h1>
			<p>認証メールが届いているので承認してください。</p>
			<a href="/">承認済み</a>
		</div>
	</body>
</html>
