<!DOCTYPE html>
<html>
	<head>
		<%- include('parts/head', {title: 'サミットマネージャー'}) %>
	</head>
	<body class="p-2">
		<div class="container p-2">
			<h1 class="mb-5">サミットマネージャー</h1>
			<p>認証メールが届いているので承認してください。</p>
			<a href="/">承認済み</a>
		</div>
	</body>
</html>
